*{
  padding: 0;
  margin:0;
  font-family: 'Poppins',sans-serif;
  list-style: none;
}
body{
  background-color: rgb(68, 189, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height:80vh;
  padding:0 10px;
}
.container{
  width:350px;
  background-color: #fff;
  padding:15px;
  border-radius: 5px;
  transition: .3s;
  position: relative;
}
.container h2{
  display: flex;
  align-items: center;
  font-weight:600;
  margin-bottom: 10px;
}
.container h2 img{
  width:40px;
}
.container .search-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .search-box input{
  max-width:260px;
  width:100%;
  font-size: 18px;
  border:0;
  outline: 0;
  border-bottom: 2px solid #828282;
}
.container .search-box button{
  font-size: 18px;
  padding:5px 20px;
  border:0;
  background-color: #44bde5;
  color:#fff;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}
.container ul{
  max-height: 250px;
  overflow:scroll;
  margin-top: 15px;
}
.container ul::-webkit-scrollbar{
  appearance: none;
  display: none;
}
.container ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  background-color: #eee;
  border-radius: 5px;
  padding:10px;
}
.container ul li .todo-info{
  display: flex;
  align-items: center;
  gap:10px;
}
.container ul li .todo-info input{
  appearance: none;
  width:15px;
  height:15px;
  border-radius:4px;
  border:2px solid #828282;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}
.container ul li .todo-info input::before{
  content: '';
  width:18px;
  height:18px;
  border-radius:50%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}
.container ul li .todo-info input:checked::before{
  background: url('images/tick-bg.png');
  background-size: cover;
  background-position: center;
}
.container ul li .todo-info input:checked ~ p{
  text-decoration: line-through;
  color:#464646;
}
.container ul li .todo-info p{
  font-size: 18px;
  font-weight:400;
}
.container ul li .trash-icon{
  background-color: #fff;
  padding:5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.container ul li i{
  font-size: 18px;
  color:crimson;

}

