*{
  padding:0;
  margin:0;
  font-family: 'Poppins',sans-serif;
  list-style: none;
  text-decoration: none;
}
body{
  background: #eee;
}
header{
  background: #000;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:15px;
  color:#fff;
  padding:10px 15px;
}
.nav-op{
  padding:4px;
  border:2px solid transparent;
}
.nav-op:hover{
  border-color:#fff;
  cursor: pointer;
}
.nav-logo{
  max-width:110px;
  padding-top:15px;
}
.nav-address p{
  color:#c4c3c3;
  font-size: 13px;
  margin-left:18px;
}
.nav-address span{
  font-size:15px;
  font-weight:600;
}
.nav-address  img{
  width:18px;
}
.nav-address .nav-loc{
  display: flex;
  align-items: center;
  margin-top:-5px;
}
.nav-search{
  height:40px;
  display: flex;
  align-items: center;
  flex: 1;
}
.nav-search:not(hover){
  border:0;
}
.nav-search select{
  height:100%;
  padding:0 10px;
  outline: 0;
  border:0;
  background: #eee;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-search input{
  width:100%;
  font-size: 16px;
  padding:0 15px;
  border:0;
  height:100%;
  outline: 0;
}
.nav-search i{
  font-size:25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd646;
  width:50px;
  height:100%;
  color:#646363;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-lang{
  display: flex;
  align-items:center;
  gap:3px;
}
.nav-lang img{
  width:25px;
}
.nav-lang p{
  font-size:15px;
  font-weight: 600;
}
.nav-lang i{
  font-size:8px;
  color: #a3a3a3;
}
.nav-account{
}
.nav-account p{
  font-size:14px;
  color:#c4c3c3;
}
.nav-account span{
  font-size: 15px;
  font-weight:600;
}
.nav-account i{
  font-size:8px;
  color: #a3a3a3;
}
.nav-account .account-info{
  display: flex;
  align-items: center;
  gap:5px;
  margin-top: -5px;
}
.nav-orders p{
  font-size:14px;
  color:#c4c3c3;
}
.nav-orders span{ 
  font-size: 15px;
  font-weight:800;
}
.nav-cart{
  display: flex;
  align-items: flex-end;
}
.nav-cart img{
  width:35px;
}
.nav-cart span{
  font-size: 15px;
  font-weight:800;
}
.panel{
  display: flex;
  align-items: center;
  background-color: #232f3e;
  color:#fff;
  padding:10px 15px;
}
.panel .menu-info{
  color:#fff;
  display: flex;
  align-items: center;
  border:2px solid transparent;
  padding:5px;
}
.panel .menu-info:hover{
  border-color: #fff;
}
.panel .menu-info i{
  font-size: 25px;
}
.panel .menu-info span{
  font-weight: 600;
  font-size:16px;
  
}
.panel ul{
  margin-left:20px;
}
.panel ul li{
  display: inline;
  margin:0 10px;
  border:2px solid transparent;
  padding:5px;
}
.panel ul li:hover{
  border-color: #fff;
}
.panel ul li a{
  font-size: 15px;
  color:#fff;
  font-weight:500;
}
.slider {
  position: relative;
}
.slider .list{
  display:flex;
}
.slider img{
  max-width: 100%;
  mask-image: linear-gradient(to bottom,#000000 50%,transparent 100%);
}
.slider a{
  position: absolute;
  top:50px;
  /* color:#000; #d8d8d8; */
  background-color:rgba(221, 221, 221, 0.5);
  padding:20px 5px;
  z-index: 100;
}
.slider a i{
  font-size:30px;
  color:#000;
}
.slider .next-btn .left-btn{
  left:0;
}
.slider .next-btn{
  right:0;
}
.boxes{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 25px;
  margin:20px 30px;
  
}
.box-info{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding:20px 15px;
  gap:10px;
  max-width:22%;
  min-height: 200px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  z-index: 1;
}
.box-info p{
  font-size: 17px;
  font-weight:600;
}
.box-info  img{
  width:100%;
}
.box-info a{
  font-size:15px;
  color:#009999;
}
.header-body{
  margin-top: -20vw;
  
}
.products-sec{
  margin:20px 30px;
  background-color: #fff;
  padding:20px;
}
.products{
  display: flex;
  align-items: center;
  gap:20px;
  overflow-x: auto;
  margin-top: 10px;
}
.products img{
  max-width: 200px;
  max-height: 200px;
}
.products::-webkit-scrollbar{
  display: none;
}
.limited-products-sec{
  background-color: #fff;
  padding:20px;
  margin:20px 30px;
}
.limited-products-sec .heading-text{
  display: flex;
  align-items: center;
  gap:15px;
}
.heading-text a{
  font-size: 16px;
  color:#009999;
}
.limited-products-sec img{
  width:200px;
  background-color: #f1efef;
  padding:15px;
  margin-bottom: 5px;
}
.limited-products-sec .products{
  margin-top: 20px;
}
.limited-products-sec .deal{
  font-size: 15px;
  font-weight:600;
  color:rgb(181, 16, 43);
}
.deal span{
  background-color: rgb(181, 16, 43);
  color:#fff;
  padding:5px;
  margin-right:10px;
}
.limited-products-sec .price-sec{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.price-sec .new-price{
  font-size:18px;
  font-weight: 500;
}
.price-sec span{
  font-size: 14px;
  color:#535353;
  margin-left: 5px;
  
}
.price-sec .old-price{
  text-decoration: line-through;
}
.limited-products-sec .text{
  font-weight: 500;
}